.book-cover {
  height: 300px;
  margin: 10px;
  border-radius: 15px;
}

.details {
  display: flex;
  align-items: flex-start;
}

.details .content {
  flex: 1;
  padding: 10px;
}

mat-slider {
  width: 300px;
}

.spiner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.delete-button {
  margin: 10px;
}
