<div class="details">
    <img mat-card-image [src]="librarySelected.book.image" [alt]="librarySelected.book.title" class="book-cover">
    <div class="content">
        <h2>{{librarySelected.book.title}}</h2>
        <h4>{{displayAuthors(librarySelected.book.authors)}}</h4>
        <mat-slider thumbLabel="true" tickInterval="0.1" step="0.1" min="0" max="10" aria-label="units"
            value="{{librarySelected.rating}}" disabled="true"></mat-slider>{{librarySelected.rating}}
        <p>{{librarySelected.note}}</p>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Descripción...</mat-panel-title>
            </mat-expansion-panel-header>
            <div [innerHTML]="[librarySelected.book.description]"></div>
        </mat-expansion-panel>
    </div>
</div>