<mat-toolbar color="primary" *ngIf="isSearchComponentDisplayed">
  <app-search></app-search>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Search-off" (click)="toggleSearchComponent()">
    <mat-icon>search_off</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar color="primary" *ngIf="!isSearchComponentDisplayed">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/" routerLinkActive="active">
    <mat-icon>local_library</mat-icon>{{ APP_TITLE }}
  </span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Search" (click)="toggleSearchComponent()">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>