.book-container {
  position: relative;
}

.book-container .btn {
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

.book-cover {
  height: 300px;
  margin: 10px;
  border-radius: 15px;
}