.book-container {
  position: relative;
}

.book-container .book-image {
  width: 150px;
  border-radius: 15%;
}

.book-container .btn {
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (min-width: 576px) {
  .book-container .book-image {
    width: 230px;
  }

  .book-container .btn {
    left: 65%;
  }
}
