<div class="details">
    <img mat-card-image [src]="bookSelected.image" [alt]="bookSelected.title" class="book-cover">
    <div class="content">
        <h2>{{bookSelected.title}}</h2>
        <h4>{{displayAuthors(bookSelected.authors)}}</h4>

        <form [formGroup]="form">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
                    <input matStartDate formControlName="startDate" placeholder="Start date">
                    <input matEndDate formControlName="endDate" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error *ngIf="form.controls.startDate.hasError('matStartDateInvalid')">Invalid start
                    date
                </mat-error>
                <mat-error *ngIf="form.controls.endDate.hasError('matEndDateInvalid')">Invalid end date
                </mat-error>
            </mat-form-field>
            <mat-slider formControlName="rating" thumbLabel tickInterval="0.1" step="0.1" min="0" max="10"
                aria-label="units"></mat-slider>{{form.controls.rating.value}}
            <mat-form-field class="example-full-width">
                <mat-label>Notas</mat-label>
                <textarea formControlName="note" matInput placeholder="Ej: Me gustó"></textarea>
            </mat-form-field>

            <p>Selected range: {{form.value | json}}</p>
            <button mat-raised-button color="accent" [disabled]="isLoading" (click)="addBookToLibrary()">Add</button>
            <div [innerHTML]="[bookSelected.description]"></div>
        </form>
    </div>
</div>

<mat-spinner class="spiner" *ngIf="isLoading"> </mat-spinner>